---
import Layout from "../../layouts/Layout.astro";
import CardSetDetail from "../../components/card-sets/CardSetDetail";

const { id } = Astro.params;
---

<Layout title="Flashcard Set Details">
  <div class="container py-8">
    <CardSetDetail setId={id} client:load />
  </div>
</Layout>
